<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class='font'>Ajouter un sondage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Info Vote</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <div id="texte">
      <h1>Remplissez pour créer un sondage </h1>
    </div>
    <form [formGroup]="addvoteForm" (ngSubmit)="onSubmit()">

      <ion-item>
        <ion-input placeholder ="Titre du vote" class='font' type="text" formControlName="titre"></ion-input>
      </ion-item>

      <br><br>
      <ion-item>
        <ion-input placeholder ="Question du vote" class='font' type="text" formControlName="question"></ion-input>
      </ion-item>

      <br><br>

      <form [formGroup]="addreponseForm" (ngSubmit)="onSubmit2()">
        <ion-item>
          <ion-input placeholder ="Réponse(s)" class='font' type="text" formControlName="reponse"></ion-input>
          <ion-button class='font' type="submit" [disabled]="addreponseForm.invalid" block>Ajouter</ion-button>
        </ion-item>
      </form>
      <br><br>
      <ion-list *ngFor="let reponse of allReponse">
        <ion-label id = "reponse">Réponse : {{reponse}}</ion-label>
        <br>
        <ion-button class='font' color="danger" size="small" (click)="supprimerReponse(reponse)">Supprimer</ion-button>
      </ion-list>
      <br>

      <ion-button class='font' type="submit" [disabled]="addvoteForm.invalid || !verif" block>Ajouter Catégorie</ion-button>
    </form>
    
    
  </div>
</ion-content>
