<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h2>Connexion</h2>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-button type="submit" [disabled]="signInForm.invalid" block>Connexion</ion-button>
    </form>
  </div>
</ion-content>