<ion-header [translucent]="true">
    <ion-toolbar>
     
      <ion-title>Auth</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    
  
    <div id="container">
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text" style="width: 50%;"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="Password" style="width: 50%;"></ion-input>
      </ion-item>
      <ion-button color="primary" 
                  (click)="onSignIn()">
                  Log in</ion-button>
    </div>
  </ion-content>
  