ion-menu-button {
    color: var(--ion-color-primary);
  }
  
#accueil_logo{
  margin: 0px;
  max-width: 60%;
  max-height: 60%;
}

.ion_label{
    font-family: Candara;
  }
  
#container {
    text-align: center;
    position: absolute;
    left: 30%;
    right: 30%;
  }
  
#connexion{
  font-size: 50px;
  margin: 50px;
}

ion-button{
  margin: 40px;
}



@media (max-width: 1300px) and (max-width: 3000px) {

#connexion{
  font-size: 20px;
  margin-bottom: 50px;
}

#container {
  text-align: center;
  position: absolute;
  left: 10%;
  right: 10%;
}

}