ion-menu-button {
    color: var(--ion-color-primary);
  }


.add_button{
  text-align: right;
}

.title_page{
  font-family: Candara;
  font-weight: bold;
  font-size:x-large;
  margin:10px;
}

.font{
  font-family: Candara;
}


#buttonvote{
  display: flex;
  flex-direction: column;
}

#container {
  display: flex;
  justify-content: center;
}

#texte {
  text-align: center;
  font-size: 30px;
  color: #8c8c8c;
  margin: 10px;
}

#VoteName{
  max-width: fit-content;
  text-decoration: none;
  color: white; 
  background-color:#848484; 
  padding:15px; 
  margin: 10px; 
  border-radius:5px; 
  letter-spacing:1px;
  text-align: center;
  font-size: 25px;
}

.results{
  margin: 10px;
  font-family: Candara;
  font-size: 18px;
  text-decoration: none;
  color: black; 
  background-color:#ececec; 
  padding:15px; 
  border-radius:5px; 
  text-align: center;
}

