ion-menu-button {
    color: var(--ion-color-primary);
  }

  .title_page{
    font-family: Candara;
    font-weight: bold;
    font-size:x-large;
    margin:10px;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  #buttonvote{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
  }

  .font{
    font-family: Candara;
  }

  #VoteName{
    max-width: fit-content;
    text-decoration: none;
    color: white; 
    background-color:#4c8dff; 
    padding:15px; 
    margin: 0 10px; 
    border-radius:5px; 
    letter-spacing:1px;
    text-align: center;
  }

  #together{
    position: relative;
    top: 30%;   
  }