<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class='title_page'>Vote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div id="together">
    <div class="container">
      <h4 id="VoteName" >{{vote}}</h4>
    </div>
    <ion-list class="container">
      <div id="buttonvote">
        <ion-button class="font" *ngFor="let reponse of allReponse; let index = index" [color]=getColor(index) (click)="voteIt(reponse)"> {{reponse}}</ion-button>
      </div>
    </ion-list>
  </div>  
</ion-content>
