<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class='title_page'>Mon profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div id="container">
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../assets/img/toucan.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="email">{{ userApp.email }}</h3>
        <h5 class="info">Nom : {{ userApp.username }}</h5>
        <h5 class="info">Age : {{ userApp.age }}</h5>
        <h5 class="info">Ville : {{ userApp.ville }}</h5>
      </div>
      <br>
      <ion-button class='font' (click)="resetPassword()" color="primary">Mot de passe oublié</ion-button>
      
    </div>
  </div>
</ion-content>
