<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class='font'>Ajouter une Infocity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Info City</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <form [formGroup]="infoCityForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input placeholder='Nom' class='font' type="text" formControlName="name"></ion-input>
      </ion-item>

      <br><br>
      <ion-item>
        <ion-textarea placeholder='Information' cols="80" rows="8" class='font' type="text" formControlName="information"></ion-textarea>
      </ion-item>

      <br><br>
      
      <img *ngIf="urlUploadFile!== ''" src="{{urlUploadFile}}"/>
      <ion-progress-bar color="secondary" value="{{progress}}"></ion-progress-bar><br><br>
      <label for="file">Charger une image : </label><br><br>
      <input formControlName="file" type="file"
        id="file"
        (change)="handleFileInput($event.target.files)">

      <br><br>
      <ion-button class='font' type="submit" [disabled]="infoCityForm.invalid" block>Ajouter</ion-button>
    </form>
  </div>
</ion-content>
