<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col class='title_page' >Forum</ion-col>
      <ion-col class='add_button'>
        <ion-button class='font' *ngIf="(userApp.role | uppercase)==='MAIRIE'" (click)="deleteForum()">Supprimer</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content #content padding class="chatPage" *ngIf=" (userApp.role | uppercase)==='VALID'"[fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="none" class='list_message'>
    <div id='item_message' *ngFor="let message of allMessage">
      <p class="mairie" *ngIf="(message.role | uppercase)==='MAIRIE'">{{message.username}}</p>
      <p class="message" *ngIf="(message.role | uppercase)==='MAIRIE'">{{message.message}}</p>
      <br>

      
      <p class="right" *ngIf="(message.role | uppercase)==='USER' && userApp.email === message.mail">{{message.message}}</p>

      <p class="username" *ngIf="(message.role | uppercase)==='USER' && userApp.email !== message.mail">{{message.username}}</p>
      <p class="message" *ngIf="(message.role | uppercase)==='USER' && userApp.email !== message.mail">{{message.message}}</p>
    </div>
    
  </ion-list>

  
  <form id="input" [formGroup]="sendMessageForm" (ngSubmit)="onSubmit()">
    <ion-item color="primary">
      <ion-input placeholder='Message' class='font' type="text" formControlName="message"></ion-input>
      <ion-button class='font' color="dark" type="submit" [disabled]="sendMessageForm.invalid" block>Send</ion-button>
    </ion-item>
  </form>
  <div id="container">
  </div>
</ion-content>

<ion-content #content padding class="chatPage" *ngIf="(userApp.role | uppercase)==='MAIRIE'"[fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none" class='list_message'>
    <div id='item_message' *ngFor="let message of allMessage">
      <p class="message" *ngIf="(message.role | uppercase)==='MAIRIE'">{{message.message}}</p>
      <br>

      <p class="username" *ngIf="(message.role | uppercase)==='USER'">{{message.username}}</p>
      <p class="message" *ngIf="(message.role | uppercase)==='USER'">{{message.message}}</p>
    </div>
    
  </ion-list>


  <form id="input" [formGroup]="sendMessageForm" (ngSubmit)="onSubmit()">
    <ion-item color="primary">
      <ion-input placeholder='Message' class='font' type="text" formControlName="message"></ion-input>
      <ion-button class='font' color="dark" type="submit" [disabled]="sendMessageForm.invalid" block>Send</ion-button>
    </ion-item>
  </form>
</ion-content>



<ion-content *ngIf="userApp.role==='notValid'"[fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">Your account is not valid </strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <h2>Send Message</h2>
    
  </div>
</ion-content>
