ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.font{
  font-family: Candara;
}

#right{
  text-align: right;
}

#input{
  position: fixed;
bottom: 0;
left: 0;
right: 0;
}

ion-list{
  margin-bottom: 40px;
}

.title_page{
  font-family: Candara;
  font-weight: bold;
  font-size:x-large;
  margin:10px;
}

@media (max-width: 1000px) {

  #Title{
    margin-bottom: 5%;
  }
  
  }

#accueil_logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:20%;
  height:30%;
}

.list_message{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 8px;
  overflow: auto;
  }

#item_message{
  display: flex;
  margin: 1px;
  }

#item_message p{
  color: black;
  font-family: Candara;
  padding: 8px;
  margin: 2px 8px 2px 0;
  min-width: 10% !important;
  max-width: 80% !important;
  }

  #item_message .topright{
    margin-left: auto;
    }

  #item_message .botright{
    margin-left: auto;
    }

  
  .topright{
    font-family: Candara;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgb(0, 172, 240);
  }

  .topleft{
    font-family: Candara;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #cffed1;
    }

  .topleftmairie{
    font-family: Candara;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #ffcdcd;
    }

  
  .botright{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #eee;
  }

  .botleft{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #eee;
  }