ion-menu-button {
    color: var(--ion-color-primary);
  }
  
.add_button{
  text-align: right;
}

.title_page{
  font-family: Candara;
  font-weight: bold;
  font-size:x-large;
  margin:10px;
}

#main{
  max-width: 80%;
}

#container {
  position: absolute;
  left: 20%;
  right: 20%;
  align-items: center;
}

#buttonvote{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#vote_button{
  flex-flow: column;
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: normal;
  height: 50px;
}

.font{
  font-family: Candara;
}

#texte {
  text-align: center;
  font-size: 25px;
  color: #696969;
  margin: 10px;
}



@media (max-width: 1300px) and (max-width: 3000px) {

  #vote_button{
    flex-flow: column;
    overflow: inherit ;
    text-overflow: inherit ;
    white-space: normal;
    height: 60px;
  }

  #container {
    position: absolute;
    left: 10%;
    right: 10%;
  }

  #texte {
    text-align: center;
    font-size: 20px;
    color: #696969;
    margin: 10px;
  }
  
  }