ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  .add_button{
    text-align: right;
  }

  .title_page{
    font-family: Candara;
    font-weight: bold;
    font-size:x-large;
    margin:10px;
  }

  #container {
    display: flex;
    justify-content: center;
  }

  #buttonvote{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .font{
    font-family: Candara;
  }