ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  .add_button{
    text-align: right;
  }

  .title_page{
    font-family: Candara;
    font-weight: bold;
    font-size:x-large;
    margin:10px;
  }


  #main{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
  }

  #texte {
    text-align: center;
    font-size: 20px;
    color: #8c8c8c;
    margin: 10px;
  }

  #container {
    display: flex;
    justify-content: center;
  }

  #buttonvote{
    display: flex;
    flex-direction: column;
  }

  .font{
    font-family: Candara;
  }

  .forum_button{
    flex-flow: column;
    overflow: inherit ;
    text-overflow: inherit ;
    white-space: normal;
    height: 50px;
    font-family: Candara;
  }


  @media (max-width: 1300px) and (max-width: 3000px) {

    .forum_button{
      flex-flow: column;
      overflow: inherit ;
      text-overflow: inherit ;
      white-space: normal;
      height: 60px;
      font-family: Candara;
    }
    
    #texte {
      text-align: center;
      font-size: 15px;
      color: #8c8c8c;
      margin: 10px;
    }
    
    }
