<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-row>
      <ion-col class='title_page' >Forum</ion-col>
      <ion-col class='add_button'>
        <ion-button class='font' *ngIf="(userApp.role|uppercase) === 'MAIRIE'" (click)="goToAddFaq()">Ajouter un forum</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="(userApp.role|uppercase) === 'VALID'" [fullscreen]="true">
  
  <ion-list id="container">
    <div id="buttonvote">
      <ion-button class='font' *ngFor="let faq of allFaq" (click)="goToFaq(faq)">{{faq}}</ion-button>
    </div>
  </ion-list>
</ion-content>

<ion-content *ngIf="(userApp.role|uppercase) === 'MAIRIE'" [fullscreen]="true">

  <ion-list id="container">
    <div id="buttonvote">
      <ion-button class='font' *ngFor="let faq of allFaq" (click)="goToFaq(faq)">{{faq}}</ion-button>
    </div>
  </ion-list>

</ion-content>
