<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-row>
      <ion-col class='title_page' >Forum</ion-col>
      <ion-col class='add_button'>
        <ion-button class='font' *ngIf="(userApp.role|uppercase) === 'MAIRIE'" (click)="goToAddFaq()">Ajouter un forum</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>




<ion-content *ngIf="(userApp.role|uppercase) === 'VALID'" [fullscreen]="true">
  <div id="main">

    <div id="texte">
      <p>Bienvenue sur le forum ! <br> Ici vous pouvez discuter de différents sujets avec les citoyens et votre mairie. <br>
      N'oubliez pas de rester courtois et respectueux. Ce forum est avant tout un lieu d'échange et de partage. On espère que vous aimerez ! </p>
    </div>
    
    <ion-list id="container">
      <div id="buttonvote">
        <ion-button class='forum_button' *ngFor="let faq of allFaq" (click)="goToFaq(faq)">{{faq}}</ion-button>
      </div>
    </ion-list>

  </div>
</ion-content>



<ion-content *ngIf="(userApp.role|uppercase) === 'MAIRIE'" [fullscreen]="true">
  <div id="main">

    <div id="texte">
      <p>Bienvenue sur le forum ! <br> Ici vous pouvez discuter de différents sujets avec vos citoyens. <br>
      N'oubliez pas que tout le monde peut voir vos messages. Ce forum est avant tout un lieu d'échange et de partage. On espère que vous aimerez ! </p>
    </div>

    <ion-list id="container">
      <div id="buttonvote">
        <ion-button class='forum_button' color="tertiary" *ngFor="let faq of allFaq" (click)="goToFaq(faq)">{{faq}}</ion-button>
      </div>
    </ion-list>
    
  </div>
</ion-content>


